.Toolbar {
  display: flex;
  justify-content: space-between;
  
  font-size: 1.7rem;
  box-shadow:  0 0 10px rgba(0, 0, 0, .5);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
}
.container{
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}
.Toolbar ul {
  display: flex;
  list-style-type: none;
  margin-left: 2.8rem;
}

@media (max-width: 620px) {
  .Toolbar ul {
    display: none;
  }
  .Toolbar .container{
    justify-content: space-between;
  }
}